# Node modules
node_modules/

# Fichiers de log
*.log

# Fichiers temporaires
*.tmp
*.swp

# Fichiers de build
dist/
build/

# Fichiers de configuration d'éditeur
.vscode/
.idea/

# Fichiers de système d'exploitation
.DS_Store
Thumbs.db

# Environnement de développement local
.env

# Dépendances spécifiques aux environnements de développement
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache de dépendances
.pnp/
.pnp.js

# Éviter les fichiers créés par les IDE
*.sublime-project
*.sublime-workspace
*.code-workspace

# Cache de dépendances de Bundler
.bundle/

# Recycle Bin utilisé sous Windows
$RECYCLE.BIN/

# Récupération de données
*.sql
*.sqlite
